/includes
/misc
/modules
/profiles
/scripts
/themes
.project
.buildpath
authorize.php
CHANGELOG.txt
COPYRIGHT.txt
cron.php
index.php
install.php
LICENSE.txt
MAINTAINERS.txt
README.txt
robots.txt
update.php
UPGRADE.txt
web.config
xmlrpc.php