#site-header {
  background-color: #0a71b4 !important;
  background-image: none;
}

.l-main {
  margin-top: 100px;
}


.panel-lesson {
   min-height: 160px;
}
.pass-mark {
  position: relative;
  top: -60px;
  /* left: 600px; */
  float: right;
}
#title-wrapper {
  background: none;
}
.view-opigno-course-catalgue .opigno-group .views-row {
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background: none;
}

#quiz-question-answering-form input#edit-back {
  background-image: none;
}
#quiz-question-answering-form input#edit-submit {
  background-image: none;
}
.view-opigno-course-catalgue .views-field.views-field-group-group {
  padding: 10px;
}



/* page checkout form element overrides */

.page-checkout fieldset {
	background-color:white;
}

.page-checkout .form-item {
	width:100%;
}

.page-checkout #edit-commerce-payment-payment-details-credit-card-exp-month,
.page-checkout #edit-commerce-payment-payment-details-credit-card-exp-year {
	width:30%;
	display:inline;
}

label[for="edit-commerce-payment-payment-details-credit-card-exp-month"] {
	display:block;
}


/* password field overrides */

.password-strength {
	display:none;
}

input.password-confirm, input.password-field {
	width:100%;
}

.confirm-parent, .password-parent {
	width:100%;
}
