@CHARSET "ISO-8859-1";

/* --- FONTS --- */
@font-face { 
    font-family: 'Vidaloka-Regular';
    src: url('../fonts/Vidaloka-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face { 
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* --- GLOBAL COLORS --- */

/* Background Colors */ 
.primary-bg-color {}
.secondary-bg-color {}
.tertiary-bg-color {}

/* Font Colors */ 
.text-primary {}
.text-secondary {}
.text-tertiary {}
.text-success {}
.text-warning {}
.text-info {}
.text-muted {}

/* --- BASE STYLES and BOOTSTRAP OVERRIDES --- */

body { 
  /*For overall default styling*/
  font-size: 1.5em;
  font-style: 'Roboto-Medium';
  /*letter-spacing: 2px;*/
  /*line-height: 1;*/
}

/* Base Headers Style */
h1, h2, h3, h4, h5, h6 {
  font-style: 'Vidaloka-Regular';
  /*letter-spacing: 0.5em;*/
}
h1 {
  font-size: 3.5em;
  /*line-height: 1;*/
}
h2 {
  font-size: 3em;
  /*line-height: 1;*/
}
h3 {
  font-size: 2.5em;
  /*line-height: 1;*/
}
h4 {
  font-size: 2em;
  /*line-height: 1;*/
}
h5 {
  font-size: 1.5em;
  /*line-height: 1;*/
}
h6 {
  font-size: 1em;
  /*line-height: 1;*/
}

/* Buttons Style Guide */
/* Bootstrap Buttons Style Override */
.btn {}
.btn.focus, .btn:focus, .btn:hover {}
.btn-default {}
.btn-primary {}
.btn-primary:hover {}
.btn-success {}
.btn-success:hover {}
.btn-info {}
.btn-info:hover {}
.btn-warning {}
.btn-warning:hover {}
.btn-danger {}
.btn-danger:hover {}
.btn-group-lg>.btn, .btn-lg {}
.btn-group-sm>.btn, .btn-sm {}
.btn-group-xs>.btn, .btn-xs {}

/* Bootstrap Close Buttons Style Override */
.close {}
.close:focus, .close:hover {}

/* Custom Buttons Style Guide */
.btn-secondary {}
.btn-secondary:hover {}
.btn-tertiary {}
.btn-tertiary:hover {}

/* Forms Style Guide */
/* Base Forms Style */
label {}
/* Forms Bootstrap Overrides */
.form-control {}
.form-control:focus {}
	
.has-success .form-control {}
.has-warning .form-control {}
.has-error .form-control {}

.input-group-addon {}

.checkbox label, .radio label {}

.has-success .checkbox,
.has-success .checkbox-inline, 
.has-success .control-label, 
.has-success .help-block,
.has-success .radio, 
.has-success .radio-inline, 
.has-success.checkbox label, 
.has-success.checkbox-inline label, 
.has-success.radio label, 
.has-success.radio-inline label {
	
}

.help-block {}

/* Table Style Guide */
/* Table Bootstrap Overrides */
.table-hover>tbody>tr:hover {}
.table-striped>tbody>tr:nth-of-type(odd) {}

/* Contextual Background Style */

.bg-primary {}
.bg-success {}
.bg-info {}
.bg-warning {}
.bg-danger {}

.bg-secondary {}
.bg-tertiary {}

/* Bootstrap Panels Overrides */
.panel-default {}
.panel-primary {}
/* Custom Panel Styles */
.panel-secondary {}
.panel-tertiary {}

/* Modal Content */
.modal-content {}

/* Custom CSS Helpers */
/* 
 * Helper Classes are high priority. 
 * Therefore requires !important.
 */
 
.no-padding {padding: 0px, 0px, 0px, 0px !important;}
.no-padding-left {padding-left: 0px !important;}
.no-padding-right {padding-right: 0px !important;}
.no-padding-top {padding-top: 0px !important;}
.no-padding-bottom {padding-bottom: 0px !important;}

.no-margin {margin: 0px, 0px, 0px, 0px !important;}
.no-margin-left {margin-left: 0px !important;}
.no-margin-right {margin-right: 0px !important;}
.no-margin-top {margin-top: 0px !important;}
.no-margin-bottom {margin-bottom: 0px !important;}

.no-float {clear: both !important;}

.breadcrumb {
    background-color: #fff !important;
}

