body {
  padding-top: 130px;  
}
.text-center {
  padding-top: 20px;
}
.logo {
  height: 40px;
  width: auto;
}
.nav-breadcrumbs {
  background-color: #333333;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
}
#sidebar .nav {
  width: 95%;
  /*border-style: solid;*/
  border-width: 1px;
  border-color: #c2c2c2;    
  background-color: white;
}
#sidebar li {
  border-bottom-width:1px;
}
#sidebar .category-courses-list.nav {
  width: 100%;
  border-style: solid;
  border-top-style: none;
  border-left-width: 5px;
}
#sidebar .category-courses-list.nav>li {
  padding-left: 20px;
  border-bottom: solid;
  border-bottom-color: #c2c2c2;
  border-bottom-width: 1px;
}
#sidebar .category-courses-list.nav>li:last-child {
  border-bottom: none;
}
#sidebar .category-courses-list.nav>li>a:hover,
#sidebar .category-courses-list.nav>li>a:active,
#sidebar .category-courses-list.nav>li>a:focus {

}
#sidebar .sidenav-main-link>a:hover,
#sidebar .sidenav-main-link>a:active,
#sidebar .sidenav-main-link>a:focus {

}
.sidenav-main-link>a,
.sidenav-top-link>a {
  font-family: 'OpenSans-Semibold';
}
#sidebar .sidenav-top-link>a:hover,
#sidebar .sidenav-top-link>a:active,
#sidebar .sidenav-top-link>a:focus {

}
.course-card h2 {
  margin-top: 5px;
}
.course-card-body {
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 10px;
}
.course-card-body .course-thumbnail {
  padding-left: 0px;
}
.course-card-header {
  padding-bottom: 30px;
}
.course-card-timer {
  font-family: 'OpenSans-SemiBold';
  text-align: right;
  padding-top: 20px;
  font-size: 1.3em;
}
.course-card-timer>.course-icon{
  padding-right: 15px;
}
.course-timer {
  padding: 15px;
  /* padding-left: 20px; */
  /* padding-top: 20px; */
  background-color: #c2c2c2;
  border-radius: 3px;
}
span.course-timer>.course-timer-label>span {
    padding-right: 4px;
    padding-left: 4px;
}
span.course-timer>.course-timer-label {
  font-size: 10px;
  position: absolute;
  top: 20px;
  left: 255px;
}
span.course-timer>.course-timer-digits {
  position: relative;
  top: 6px;
}
.course-thumbnail img {
  width: 100%;
}
.course-thumbnail-placeholder {
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 1px #c2c2c2;
  height: 135px;
}
.course-progress {
   background-color: #ebebeb;
   border: solid 1px #c2c2c2;
   text-align: center;
}
.course-progress h3 {
  margin-bottom: 20px;
}
.course-progress>.progress-start {
  text-align: left;
  padding-left: 0px;
}
.course-progress>.progress-end {
  text-align: right;
  padding-right: 0px;
}
.course-progress>small {
  margin-bottom: 20px;
}
.course-details h3{
  margin-bottom: 20px;
  margin-top: 10px;
}
.course-details p{
  margin-bottom: 20px;
}

/* Course Page */
.course-page span.course-timer>.course-timer-label {
  top: 20px;
  left: 115px;
}
.course-page .course {
  margin-top: 30px;
}
.course-page .course-details {
  margin-bottom: 30px;
}
.course-page .course-card h1 {
  margin-top: 5px;
}
.units {
  padding: 15px;
  padding-right: 30px;
  padding-left: 30px;
}
.units .unit-card .panel-heading {
  margin-right: 0px;
  margin-left: 0px;
}
.units .unit-card-header {
  margin-bottom: 30px;
}
.units .unit-card-labels {
  font-family: 'OpenSans-Semibold';
  vertical-align: bottom;
  padding-top: 25px;
}
.unit-card .unit-card-header {
  margin-bottom: 10px;
}
.unit-card .unit-card-labels {
  padding-top: 15px;
}
.units .unit-card-labels .unit-card-label {
  padding-left: 4%;
  padding-right: 4%;
}
.units .unit-card .unit-card-labels .unit-card-label {
  padding-left: 4%;
  padding-right: 5%;
}
.units .unit-card .unit-card-labels .unit-card-label:first-child {
  padding-left: 5%;
}
.units .course-certificate h3 {
  margin-top: 10px;
}
/* Quiz Page */
.quiz-question-navigation-wrapper,
.action-links {
	padding: 20px;
    background-color: #fff !important;
    border: solid 1px #c2c2c2;
    text-align: right;
}
.quiz-question-navigation-wrapper button,
.quiz-question-navigation-wrapper input,
.action-links button,
.action-links input {
}
.quiz-question-navigation-wrapper button,
.quiz-question-navigation-wrapper input,
.node-type-course .action-links a,
div#nextlink .opigno-quiz-action {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff !important;
  background-color: #d70c76;
  border-color: #d70c76;
  
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.quiz-question-navigation-wrapper button:hover,
.quiz-question-navigation-wrapper button:focus,
.quiz-question-navigation-wrapper button:active,
.quiz-question-navigation-wrapper input:hover,
.quiz-question-navigation-wrapper input:focus,
.quiz-question-navigation-wrapper input:active,
.node-type-course .action-links a:hover,
.node-type-course .action-links a:focus,
.node-type-course .action-links a:active,
div#nextlink .opigno-quiz-action:hover, 
div#nextlink .opigno-quiz-action:focus, 
div#nextlink .opigno-quiz-action:active {
  border-color: #c50c6d;
}
.q-back-button {
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.node-type-course {}
.node-type-course .action-links li {
	list-style: none;
}
.node-type-quiz .field,
.node-type-course .field {
    padding: 20px;
    background-color: #fff;
    border: solid 1px #c2c2c2;
    border-bottom: none;
}
div#quiz_progress {
	padding: 20px;
    color: #fff;
    background-color: #333;
    font-family: 'OpenSans-Semibold';
}
/* Footer */

.footer {
    min-height: 80px;
    background: url(../footer.png) no-repeat right bottom;
    padding-top: 310px;
    color: white;
}
/* Breadcrumbs */
.breadcrumb {
    /* background-color: #fff !important; */
}
.breadcrumb {
  padding: 0px;
  margin-bottom: 0px;
  list-style: none;
  background-color: inherit !important;
  color: #fff;
}
.breadcrumb a {
  color: #fff !important;
}

#title-wrapper {background-color: transparent;}
.btn #edit-button {
	background-color: transparent;
    border: none;
}

/* Unit Card Labels */
.unit-card-labels {
	text-align: right;
}
.panel-footer a {
	color: white;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    padding-top:0;
  }
}



