   * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .content {
        width: 620px;
        margin: 0 auto;
    }
    .section-1 {
        float: left;
        width: 100%;
        text-align: center;
    }
    .section-1 {
        float: left;
        width: 100%;
        text-align: center;
        padding: 15px 0px;
        border-bottom: 10px solid #EAEAEA;
        margin-bottom: 20px;
    }
    .section-2 {
        float: left;
        width: 100%;
        padding: 20px;
        margin-bottom: 20px;
    }
    .section-2 p {
        font-family: Arial;
        color: #666;
        font-size: 16px;
        margin-bottom: 30px;
        letter-spacing: 1px;
        line-height: 25px;
    }
    .message {
        float: left;
        width: 100%;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        padding: 20px 40px;
        background: rgb(0, 167, 173);
        ;
        margin-bottom: 30px;
    }
    .message p {
        color: #fff;
        float: left;
        font-size: 18px;
    }
    .message p span {
        font-family: 'Arial';
    padding-top: 20px;
    float: left;
    width: 100%;
}
.gift {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid #ccc;
}
.gift .thumb {
    width: 30%;
    float: left;
    margin-right: 20px;
}
.gift .thumb img {
    width: 100%;
}
.gift .claim {
    float: left;
    width: 68%;
}
.gift .details {
    width: 63%;
    float: left;
    margin-right: 20px;
}
.gift .details h3 {
    color: #00a7ac;
    font-family: 'Arial';
    font-size: 20px;
}
.claim {
    float: left;
    width: 100%;
}
.claim h2 {
    color: #FF9F08;
    font-family: 'Arial';
    font-size: 20px;
    margin-bottom: 26px;
}
.claim ul {
    float: left;
    width: 100%;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 40px;
}
.claim ul li {
    display: block;
    font-family: 'Arial';
    color: #666;
    font-size: 16px;
    margin-bottom: 10px;
}
.claim ul li {} .claim p {
    margin-bottom: 16px;
}
.main-logo {
    width: 260px;
}
/*footer*/

#footer {
    width: 100%;
    float: left;
    background: #262626;
    padding: 30px 20px
}
#footer .footer-section {
    clear: both;
}
#footer h4 {
    color: white;
    font-family: Arial;
    font-size: 20px;
    letter-spacing: 1px;
}
#footer ul li {
    margin-bottom: 12px;
}
#footer ul li a {
    text-decoration: none;
}
#footer p {
    color: #FFF;
    font-size: 14px;
    font-family: 'Arial';
    margin-bottom: 2em;
    margin-top: 0px;
    float: left;
    width: 100%;
}
#footer p a {
    color: #FFF;
    font-size: 14px;
    font-family: 'Arial';
    margin-top: 0px;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.left,
.right {
    width: 50%;
    float: left;
}
.left div,
.right div {
    margin-left: 65px;
}
.left p,
.right p {
    margin-bottom: 15px;
}
#footer p a.partnership {
    color: #FFF;
    font-size: 1em;
    font-family: 'Arial';
    margin-bottom: 2em;
    text-decoration: underline;
}
#footer ul li img {
    margin-right: 20px;
}
#footer center img {
    margin-bottom: 20px;
}
#footer ul li span {
    position: relative;
    top: -15px;
}
#footer p.visit-us {
    margin-top: 30px;
}
#footer ul {
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px 0px 60px 0px;
}
#footer ul li {
    list-style: none;
}
#footer ul li a {
    color: #FFF;
    font-size: 1em;
    font-family: 'Arial';
    margin-bottom: 2em;
    letter-spacing: 1px;
}
#footer ul.social-connect {
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
#footer ul.social-connect li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}
#footer ul li a {} #footer ul li a img {}